<p id="notice"><%= notice %></p>

<p>
<% provide(:title, @user.lname) %>
<h1><%= @user.lname %></h1>
</p>

<p>
  <% provide(:title, @user.fname) %>
<h1><%= @user.fname %></h1>
</p>

<p>
  <% provide(:title, @user.username) %>
<h1><%= @user.username %></h1>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
